// first-company section start
.first-company {
    width: 100%;
    overflow: hidden;
    background-position: 60% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://www.simbrella.com/site/assets/files/1040/cover.jpg");
    @include forClientSection {
        background-position: 65% 50%;
    }
    @include forClientSectionTablet {
        background-position: 60% 50%;
    }
    @include forClientSectionComp {
        background-position: 60% 50%;
    }
    &__cover {
        height: 100vh;
        // max-width: 1600px;
        background: rgba(0, 0, 0, 0.2);
        &__info {
            max-width: 1140px;
            top: 32%;
            padding: 0 20px;
            color: white;
            position: relative;
            margin: 0 auto;
            @include forClientSection {
                top: 15%;
            }
            @include forClientSectionTablet {
                top: 20%;
            }
            &__max {
                max-width: 620px;
                @include forClientSection {
                    max-width: 68%;
                    padding: 35vw 0 0px;
                }
                @include forClientSectionTablet {
                    padding: 120px 0 90px;
                }
                @include forClientSectionComp {
                    background-position: 60% 50%;
                }
            }
            &__caption {
                font-size: 48px;
                line-height: 1.3;
                padding-bottom: 16px;
                transition: 2s;
                @include forClientSection {
                    font-size: 24px;
                }
                @include forClientSectionTablet {
                    font-size: 27px;
                }
                @include forClientSectionComp {
                    font-size: 32px;
                }
            }
            &__paragraph {
                line-height: 1.9;
                font-size: 15px;
            }
        }
    }
    &__mouse {
        display: block;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 5%;
        #mouse-a {
            text-decoration: none;
        }
        @include forClientSection {
            display: none;
        }
        @include forClientSectionTablet {
            display: none;
        }
        &__scroll {
            max-width: 1140px;
            margin: 0 auto;
            padding: 0 20px;
            display: flex;
            align-items: center;
            &__svg {
                margin-bottom: 10px;
            }
            &__text {
                padding-left: 10px;
                text-decoration: none;
                color: white;
                font-size: 14px;
            }
        }
    }
}

//light section1 start
.light-sc {
    padding: 35px 0px 60px;
    &__container {
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 20px;
        &__upper {
            padding: 0 0 40px;
            @include flexbox(center,
            space-between);
            @include forBtn {
                display: block;
            }
            &__head {
                font-size: 36px;
                color: #2d3192;
                line-height: 1.3;
                @include forClientSection {
                    font-size: 24px;
                    padding: 0 0 10px;
                }
                @include forClientSectionTablet {
                    font-size: 27px;
                }
                @include forClientSectionComp {
                    font-size: 32px;
                }
            }
            &__button {
                &__link {
                    display: inline-block;
                    height: 56px;
                    padding: 0 90px 0 24px;
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 50px;
                    color: black;
                    text-decoration: none;
                    border: 3.5px solid rgb(237, 237, 237);
                    border-radius: 15px;
                    text-align: center;
                    transition: 0.4s;
                    background: url("https://www.simbrella.com/site/templates/img/link_orange_icon.svg") no-repeat calc(100% - 24px) 50%;
                }
                &__link:hover {
                    border: 3.5px solid #ff931e;
                    transition: 0.4s;
                    background: url("https://www.simbrella.com/site/templates/img/link_orange_icon.svg") calc(100% - 19px) 50%;
                    background-repeat: no-repeat;
                }
            }
            &__btn:hover {
                border: 3.5px solid #ff931e;
                width: calc(100% - 19px) 50%;
                transition: 0.4s;
            }
        }
        &__bottom {
            @include flexbox(stretch,
            space-between);
            flex-wrap: wrap;
            &__technology {
                border: 3px solid rgb(237, 237, 237);
                text-align: center;
                padding: 40px 20px;
                position: relative;
                width: 31.3%;
                border-radius: 3px;
                transition: 0.5s;
                cursor: pointer;
                @include forTblet {
                    width: 100%;
                    margin-bottom: 20px;
                }
                img {
                    padding: 20px 0px;
                }
                h3 {
                    font-size: 24px;
                    padding-bottom: 20px;
                }
                p {
                    font-size: 16px;
                    line-height: 1.62;
                    font-weight: 300;
                    color: rgb(135, 135, 135);
                }
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 1;
                }
            }
            &__technology:hover {
                transform: scale(1.05);
                transition: 0.5s;
            }
        }
    }
}

//blue section start
.products {
    padding: 60px 0;
    background-color: #2d3192;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url("https://www.simbrella.com/site/templates/img/products_bg.svg");
    background-size: cover;
    // height: 100vh;
    @include forClientSectionTablet {
        padding: 30px 0 20px;
    }
    @include forClientSection {
        padding: 30px 0 20px;
    }
    &__container {
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 20px;
        &__text {
            padding: 0 0 60px;
            font-weight: 600;
            font-size: 56px;
            line-height: 1.29;
            letter-spacing: 0.01em;
            color: #fff;
            @include forClientSectionTablet {
                padding: 0 0 16px;
                font-size: 27px;
            }
            @include forClientSection {
                padding: 0 0 16px;
                font-size: 27px;
            }
        }
        &__rounds {
            width: 618px;
            height: 624px;
            margin: 0 auto;
            position: relative;
            @include forClientSectionTablet {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-auto-rows: minmax(min-content, max-content);
                grid-gap: 20px 20px;
                width: 100%;
                height: max-content;
            }
            @include forClientSection {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-auto-rows: minmax(min-content, max-content);
                grid-gap: 10px 10px;
                width: 100%;
                height: 390px;
            }
            &__item {
                transition: 0.3s;
                opacity: 0;
                visibility: hidden;
                transform: scale(0.9);
                transition: 0.9s cubic-bezier(0.39, 0.575, 0.565, 1);
                &--1 {
                    width: 210px;
                    height: 150px;
                    position: absolute;
                    left: calc(50% - 105px);
                    top: 0px;
                }
                &--2 {
                    width: 202px;
                    height: 202px;
                    position: absolute;
                    left: 386px;
                    top: 31px;
                    transition-delay: 0.1s;
                }
                &--3 {
                    width: 150px;
                    height: 210px;
                    position: absolute;
                    left: 468px;
                    top: 208px;
                    transition-delay: 0.2s;
                }
                &--4 {
                    width: 202px;
                    height: 202px;
                    position: absolute;
                    left: 386px;
                    top: 390px;
                    transition-delay: 0.3s;
                }
                &--5 {
                    width: 210px;
                    height: 150px;
                    position: absolute;
                    left: 204px;
                    top: 474px;
                    transition-delay: 0.4s;
                }
                &--6 {
                    width: 202px;
                    height: 202px;
                    position: absolute;
                    top: 390px;
                    left: 28px;
                    transition-delay: 0.5s;
                }
                &--7 {
                    width: 150px;
                    height: 210px;
                    position: absolute;
                    left: 0;
                    top: 208px;
                    transition-delay: 0.6s;
                }
                &--8 {
                    width: 202px;
                    height: 202px;
                    position: absolute;
                    left: 29px;
                    top: 31px;
                    transition-delay: 0.7s;
                }
                &__svg {
                    position: absolute;
                    width: 0;
                    height: 0;
                }
                @include forClientSectionTablet {
                    height: auto;
                    min-height: 90px;
                    width: auto;
                    position: static;
                }
                @include forClientSection {
                    height: auto;
                    min-height: 90px;
                    width: auto;
                    position: static;
                }
                &__link {
                    &--1 {
                        clip-path: url(#clip_1);
                    }
                    &--2 {
                        clip-path: url(#clip_2);
                        &__text {
                            margin: 15px 15px 0 0;
                            @include forClientSectionTablet {
                                margin: 0 !important;
                            }
                            @include forClientSection {
                                margin: 0 !important;
                            }
                        }
                    }
                    &--3 {
                        clip-path: url(#clip_3);
                    }
                    &--4 {
                        clip-path: url(#clip_4);
                        &__text {
                            margin: 0 15px 15px 0px;
                            @include forClientSectionTablet {
                                margin: 0 !important;
                            }
                            @include forClientSection {
                                margin: 0 !important;
                            }
                        }
                    }
                    &--5 {
                        clip-path: url(#clip_5);
                    }
                    &--6 {
                        clip-path: url(#clip_6);
                        &__text {
                            margin: 0 0 15px 15px;
                            @include forClientSectionTablet {
                                margin: 0 !important;
                            }
                            @include forClientSection {
                                margin: 0 !important;
                            }
                        }
                    }
                    &--7 {
                        clip-path: url(#clip_7);
                    }
                    &--8 {
                        clip-path: url(#clip_8);
                        &__text {
                            margin: 15px 0 0 15px;
                            @include forClientSectionTablet {
                                margin: 0 !important;
                            }
                            @include forClientSection {
                                margin: 0 !important;
                            }
                        }
                    }
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-content: stretch;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 1;
                    text-align: center;
                    color: #fff;
                    text-decoration: none;
                    background-color: #3595ee;
                    object-fit: cover;
                    transform: scale(1);
                    transition: 0.2s;
                    opacity: 1;
                    @include forClientSectionTablet {
                        width: 100%;
                        min-height: 90px;
                        padding: 16px 0;
                        clip-path: none !important;
                    }
                    @include forClientSection {
                        width: 100%;
                        min-height: 90px;
                        padding: 16px 0;
                        clip-path: none !important;
                    }
                }
            }
            &__text {
                display: inline-block;
                padding: 0 15px;
                @include forClientSectionTablet {
                    margin: 0 !important;
                }
                @include forClientSection {
                    padding: 0 24px;
                    margin: 0 !important;
                }
            }
            &__wrapper {
                &__text {
                    width: 270px;
                    height: auto;
                    font-size: 13px;
                    line-height: 1.54;
                    text-align: center;
                    letter-spacing: -0.02em;
                    color: #fff;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, calc(10px - 50%));
                    opacity: 0;
                    visibility: hidden;
                    transition: 0.45s cubic-bezier(0.39, 0.575, 0.565, 1);
                    transition-delay: 0s;
                    @include forClientSection {
                        padding: 18px;
                        background-color: #fff;
                        color: #2d3192;
                    }
                    @include forClientSectionTablet {
                        padding: 18px;
                        background-color: #fff;
                        color: #2d3192;
                    }
                }
            }
        }
    }
}

.seem {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0px) scale(1);
}

//city section start
.city-sc {
    background-color: #f6f8fe;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("https://www.simbrella.com/site/assets/files/1049/solutions_bg-1.jpg");
    &__container {
        max-width: 1517px;
        color: white;
        @include flexbox(center,
        space-between);
        @include forCitySection {
            display: block;
        }
        &__left {
            width: calc(50% - 0px);
            padding: 0 40px;
            font-weight: bold;
            font-size: 36px;
            line-height: 1.29;
            letter-spacing: 0.01em;
            color: #fff;
            text-shadow: 2px 2px 6px black;
            @include forCitySection {
                width: 100%;
                height: 250px;
            }
            &__head {
                display: block;
                max-width: 520px;
                margin: 0 auto;
                @include forClientSection {
                    padding: 60px 0px 27px;
                    width: 100%;
                    font-size: 24px;
                    line-height: 1.7;
                    text-align: center;
                }
                @include forClientSectionTablet {
                    padding: 75px 20px 75px;
                    width: 100%;
                    font-size: 27px;
                    line-height: 1.7;
                    text-align: center;
                }
                @include forClientSectionComp {
                    font-size: 32px;
                }
            }
        }
        &__right {
            width: 49.9%;
            height: 100%;
            padding: 80px 60px;
            background: #242b8b9b;
            @include forCitySection {
                width: 100%;
                padding: 20px 20px;
            }
            &__list {
                list-style: none;
                max-width: 520px;
                margin: 0 auto;
                @include forCitySection {
                    text-align: center;
                }
                &__item {
                    padding: 36px 0px;
                    font-size: 20px;
                    border-bottom: 1px solid rgba(107, 107, 107, 0.683);
                    font-weight: 700;
                    @include forClientSection {
                        padding: 20px 0px;
                        font-size: 17px;
                        font-weight: 500;
                        text-align: center;
                        line-height: 1.4;
                    }
                    @include forClientSectionTablet {
                        padding: 20px 0px;
                        font-size: 18px;
                        font-weight: 500;
                        text-align: center;
                        line-height: 1.4;
                    }
                    @include forClientSectionComp {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

// statistics section start
.statistics {
    min-height: calc(100vh - 80px);
    padding: 30px 0 0px;
    @include forClientSection {
        padding: 30px 0px;
    }
    @include forClientSectionTablet {
        padding: 0px 0px;
    }
    @include forClientSectionComp {
        padding: 35px 0 40px;
    }
    @include forClientSectionComp2 {
        padding: 35px 0 0;
    }
    &__container {
        max-width: 1080px;
        padding: 0 20px;
        margin: 0 auto;
        @include forClientSectionComp2 {
            padding: 0px 20px 0;
        }
        @include forClientSectionComp {
            padding: 0px 20px 40px;
        }
        @include forClientSectionTablet {
            padding: 30px 0px;
        }
        &__head {
            padding: 0 0 40px;
            font-weight: bold;
            font-size: 36px;
            line-height: 1.29;
            color: #2d3192;
            @include forClientSectionComp {
                font-size: 32px;
                padding: 0 0 10px;
            }
            @include forClientSectionTablet {
                font-size: 27px;
                padding: 0 0 10px;
            }
            @include forClientSection {
                font-size: 24px;
            }
        }
        &__three {
            @include forClientSectionComp2 {
                padding: 30px 0;
            }
            @include forClientSectionComp {
                padding: 40px 0;
            }
            @include forClientSectionTablet {
                padding: 0px 20px;
                display: block;
            }
            @include forClientSection {
                display: block;
                padding: 0px 0;
                border: none !important;
            }
            @include flexbox(stretch,
            space-between);
            padding: 90px 0;
            align-content: stretch;
            &__wrapper {
                width: calc(33.333% - 20px);
                @include forClientSectionComp {
                    width: calc(33.333% - 10px);
                }
                @include forClientSectionTablet {
                    width: 100%;
                    padding: 20px 0;
                }
                @include forClientSection {
                    width: 100%;
                    padding: 20px 0;
                    text-align: center;
                }
                &__nums {
                    display: flex;
                    @include forClientSection {
                        @include flexbox(center,
                        center);
                    }
                    &__text {
                        padding: 0 0 8px;
                        font-weight: bold;
                        font-size: 48px;
                        line-height: 1;
                        color: #ff931e;
                    }
                    &__head {
                        padding: 0 0 8px;
                        font-weight: bold;
                        font-size: 48px;
                        line-height: 1;
                        color: #ff931e;
                        margin-right: 10px;
                        @include forClientSectionTablet {
                            font-size: 32px;
                        }
                        @include forClientSectionComp {
                            font-size: 32px;
                        }
                        @include forClientSection {
                            font-size: 27px;
                        }
                    }
                    &__text {
                        @include forClientSectionTablet {
                            font-size: 32px;
                        }
                        @include forClientSectionComp {
                            font-size: 32px;
                        }
                        @include forClientSection {
                            font-size: 27px;
                        }
                    }
                }
                &__par {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 1.86;
                    text-transform: uppercase;
                    color: #222;
                }
            }
        }
    }
}

.map {
    padding: 0px 0 60px;
    position: relative;
    @include forClientSectionComp {
        padding: 0px;
        display: none;
    }
    @include forClientSectionTablet {
        padding: 30px 0;
        display: none;
    }
    @include forClientSection {
        padding: 30px 0;
        display: none;
    }
    &__wrapper {
        @include allContainer();
        max-width: 1280px;
        position: relative;
        overflow: hidden;
        &__container {
            margin: -120px 0 0;
            position: relative;
            @include forClientSectionTablet {
                padding: 60px 0 20px;
            }
            @include forClientSection {
                padding: 80px 0 120px;
            }
            &__svg-con {
                cursor: pointer;
                &__svg {
                    user-select: none;
                    width: 100%;
                    height: auto;
                    position: relative;
                    transform-origin: 0px 0px;
                    max-width: none !important;
                    max-height: none !important;
                    transition: transform 0.4s ease 0s, -webkit-transform 0.4s ease 0s;
                    cursor: pointer;
                }
            }
            &__flags {
                display: none;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;
                align-content: stretch;
                align-items: center;
                height: 35px;
                padding: 0 10px;
                background: #fff;
                border-radius: 8px 8px 8px 0;
                position: absolute;
                &__img {
                    width: 24px;
                }
                &__text {
                    display: inline-block;
                    padding: 0 0 0 6px;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 1;
                    letter-spacing: 0.01em;
                    text-transform: capitalize;
                    color: #222;
                }
            }
            &__flags::before {
                content: "";
                display: block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 10px 10px 0 0;
                border-color: #fff transparent transparent transparent;
                position: absolute;
                left: 0;
                top: 100%;
            }
        }
        &__container::before {
            content: "";
            display: block;
            width: 100%;
            height: 140px;
            background: #fff;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            @include forClientSectionComp {
                display: none;
            }
            @include forClientSectionTablet {
                display: none;
            }
            @include forClientSection {
                display: none;
            }
        }
        &__text-container {
            position: absolute;
            width: 100%;
            top: 80px;
            height: 0;
            left: 0;
            padding: 0px 20px;
            @include forClientSectionComp {
                top: 40px;
            }
            @include forClientSectionTablet {
                top: 30px;
            }
            @include forClientSection {
                top: 80px;
            }
            &__main-text {
                height: 0;
                font-weight: bold;
                font-size: 36px;
                line-height: 1.29;
                letter-spacing: 0.01em;
                color: #2d3192;
                @include forClientSectionComp {
                    font-size: 32px;
                }
                @include forClientSectionTablet {
                    font-size: 27px;
                }
                @include forClientSection {
                    font-size: 24px;
                }
            }
        }
        &__info {
            @include flexbox(center,
            flex-start);
            align-content: stretch;
            width: 100%;
            height: 0;
            padding: 0 20px;
            position: absolute;
            left: 0;
            bottom: 160px;
            @include forClientSectionComp {
                bottom: 80px;
            }
            @include forClientSectionTablet {
                bottom: 20px;
            }
            @include forClientSection {
                bottom: 160px;
            }
            &__container {
                display: block;
                padding: 27px;
                border: 1px solid #d3d8e7;
                border-radius: 4px;
                &__operators {
                    margin: 0 0 16px;
                    padding: 0 0 0 30px;
                    font-size: 16px;
                    line-height: 1.5;
                    text-transform: capitalize;
                    color: #222;
                    position: relative;
                    &--orange::before {
                        background: #ff931e;
                        content: "";
                        display: block;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        position: absolute;
                        left: 0;
                        top: calc(50% - 10px);
                        opacity: 0.3;
                    }
                    &--orange::after {
                        background: #ff931e;
                        content: "";
                        display: block;
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        position: absolute;
                        left: 7px;
                        top: calc(50% - 3px);
                    }
                    &--blue::before {
                        background: #2d3192;
                        content: "";
                        display: block;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        position: absolute;
                        left: 0;
                        top: calc(50% - 10px);
                        opacity: 0.3;
                    }
                    &--blue::after {
                        background: #2d3192;
                        content: "";
                        display: block;
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        position: absolute;
                        left: 7px;
                        top: calc(50% - 3px);
                    }
                    &--both {
                        margin: 0;
                    }
                    &--both::before {
                        opacity: 1;
                        background: url(https://www.simbrella.com/site/templates/img/both_icon.svg) no-repeat 50%;
                        background-size: 24px;
                        content: "";
                        display: block;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        position: absolute;
                        left: 0;
                        top: calc(50% - 10px);
                    }
                    &--both::after {
                        content: "";
                        display: block;
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        position: absolute;
                        left: 7px;
                        top: calc(50% - 3px);
                    }
                }
            }
        }
    }
}

.map-forPhone {
    display: none;
    padding: 30 0 60px;
    position: relative;
    @include forClientSectionComp {
        display: block;
        padding: 0;
    }
    @include forClientSectionTablet {
        display: block;
        padding: 30px 0;
    }
    @include forClientSection {
        display: block;
        padding: 30px 0;
    }
    &__wrapper {
        @include allContainer();
        max-width: 1280px;
        position: relative;
        &__main-text {
            padding: 0 0 30px;
            font-weight: bold;
            font-size: 36px;
            line-height: 1.29;
            letter-spacing: 0.01em;
            color: #2d3192;
            text-align: center;
            @include forClientSectionComp {
                font-size: 32px;
            }
            @include forClientSectionTablet {
                font-size: 27px;
            }
            @include forClientSection {
                font-size: 24px;
            }
        }
        &__map-cont {
            display: none;
            padding-bottom: 20px;
            @include forClientSectionComp {
                display: block;
            }
            @include forClientSectionTablet {
                display: block;
            }
            @include forClientSection {
                display: block;
            }
            &__img {
                display: block;
                width: 100%;
            }
        }
        &__text-sec {
            padding: 0 0 15px;
            font-weight: bold;
            font-size: 18px;
            color: #2d3192;
        }
        &__infos {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-gap: 15px 20px;
            padding-bottom: 40px;
            grid-auto-rows: minmax(min-content, max-content);
            @include forClientSectionComp {
                grid-template-columns: 1fr 1fr 1fr;
            }
            @include forClientSectionTablet {
                grid-template-columns: 1fr 1fr 1fr;
            }
            @include forClientSection {
                grid-template-columns: 1fr 1fr;
            }
            &__container {
                @include flexbox(center,
                flex-start);
                align-content: stretch;
                flex-wrap: nowrap;
                height: auto;
                &__country-name {
                    font-size: 16px;
                    color: #333;
                    font-weight: 600;
                    @include forClientSection {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

//client section start
.client {
    min-height: calc(100vh - 80px);
    padding: 35px 0 60px;
    background: #f6f8fe;
    &__container {
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 20px;
        &__head {
            padding: 0 0 30px;
            font-weight: bold;
            font-size: 36px;
            line-height: 1.3;
            color: #2d3192;
        }
        &__grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 30px 30px;
            grid-auto-rows: minmax(min-content, max-content);
            @include forClientSection {
                grid-template-columns: 1fr 1fr;
                grid-gap: 10px 10px;
            }
            @include forClientSectionTablet {
                grid-template-columns: 1fr 1fr;
                grid-gap: 10px 10px;
            }
            @include forClientSectionComp {
                grid-template-columns: 1fr 1fr 1fr;
            }
            @include forClientSectionComp2 {
                grid-template-columns: 1fr 1fr 1fr;
            }
            &__figure {
                @include forClientSection {
                    height: 160px;
                }
                @include forClientSectionComp {
                    height: 160px;
                }
                @include forClientSectionTablet {
                    height: 160px;
                }
                display: flex;
                justify-content: center;
                align-items: center;
                height: 160px;
                margin: 0;
                border: 1px solid #d5dde4;
                background: #fff;
                position: relative;
                border-radius: 4px;
                &__img {
                    max-height: 90px;
                    max-width: calc(100% - 60px);
                }
                &__links-client {
                    font-size: 24px;
                    font-weight: bold;
                    display: flex;
                    span {
                        text-align: center;
                    }
                }
            }
        }
    }
}

//executive-team start
.team {
    transition: 1s;
    // @include forTeam {
    //     display: none;
    //     transition: 1s;
    // }
    &__close {
        display: none;
        width: 32px;
        height: 32px;
        position: absolute;
        right: 20px;
        top: 20px;
        @include forClientSectionComp {
            display: block;
        }
        @include forClientSectionTablet {
            display: block;
        }
        @include forClientSection {
            display: block;
        }
        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background: #2d3192;
            position: absolute;
            left: 0;
            top: calc(50% - 1px);
            transform: rotate(45deg);
        }
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background: #2d3192;
            position: absolute;
            left: 0;
            top: calc(50% - 1px);
            transform: rotate(-45deg);
        }
    }
    @include forClientSectionComp {
        width: 100%;
        opacity: 0;
        visibility: hidden;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        height: calc(100vh - 0px);
        padding: 25px 0 60px;
        z-index: 10;
        animation-duration: 0.3s;
        transition: all 0.3s linear;
    }
    @include forClientSectionTablet {
        width: 100%;
        opacity: 0;
        visibility: hidden;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        height: calc(100vh - 0px);
        padding: 25px 0 60px;
        z-index: 10;
        animation-duration: 0.3s;
        transition: all 0.3s linear;
    }
    @include forClientSection {
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        position: fixed;
        left: 0;
        top: 0;
        background: #fff;
        padding: 25px 0 60px;
        z-index: 10;
        animation-duration: 0.3s;
        transition: all 0.3s linear;
    }
    min-height: calc(100vh - 80px);
    padding: 35px 0 60px;
    &__container {
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 20px;
        &__head {
            padding: 0 0 30px;
            font-weight: bold;
            font-size: 36px;
            line-height: 1.3;
            color: #2d3192;
            @include forClientSectionComp {}
            @include forClientSectionTablet {}
            @include forClientSection {
                padding: 0 0 20px;
                font-size: 24px;
            }
        }
        &__wrapper {
            @include forClientSectionComp {
                width: calc(100% + 20px);
                margin: 0 0 0 -10px;
            }
            @include forClientSectionTablet {
                width: calc(100% + 20px);
                margin: 0 0 0 -10px;
            }
            @include forClientSection {
                width: 100%;
                margin: 0;
            }
            &__collective {
                font-size: 0;
                text-align: center;
                width: calc(100% + 30px);
                margin: 0 0 0 -15px;
                @include forClientSectionComp {
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-gap: 48px 20px;
                    width: 100%;
                    height: calc(100vh - 120px);
                    padding: 0 20px;
                    overflow-y: auto;
                    position: fixed;
                    left: 0;
                }
                @include forClientSectionTablet {
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 48px 20px;
                    width: 100%;
                    height: calc(100vh - 60px);
                    padding: 0 20px;
                    overflow-y: auto;
                    position: fixed;
                    left: 0;
                }
                @include forClientSection {
                    //   width: 95%;
                    height: calc(100vh - 80px);
                    padding: 0 60px;
                    overflow-y: auto;
                    grid-template-columns: 1fr;
                    grid-gap: 32px 20px;
                    position: fixed;
                    left: 0;
                    top: 75px;
                }
                &__officer {
                    width: calc(20% - 30px);
                    margin: 0 15px 48px;
                    display: inline-block;
                    vertical-align: top;
                    @include forClientSectionComp {
                        width: calc(25% - 20px);
                        margin: 0 10px 48px;
                    }
                    @include forClientSectionTablet {
                        width: calc(50% - 20px);
                        margin: 0 10px 48px;
                    }
                    @include forClientSection {
                        width: 100%;
                        margin: 0 0 48px;
                    }
                    &__bg {
                        background: url("https://www.simbrella.com/site/templates/img/figure_green_bg.png");
                        background-repeat: no-repeat;
                        background-size: cover;
                        height: 270px;
                        border-radius: 4px;
                        display: flex;
                        justify-content: center;
                        background-position: 0px 50%;
                        @include forClientSectionComp {
                            height: 30vw;
                        }
                        @include forClientSectionTablet {
                            height: 60vw;
                        }
                        @include forClientSection {
                            height: 100vw;
                        }
                        &__img {
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                    &__bottom {
                        padding: 16px 0px;
                        @include forClientSection {
                            padding: 10px 0 0;
                        }
                        &__head {
                            padding: 0 0 4px;
                            font-weight: 600;
                            font-size: 18px;
                            line-height: 1.33;
                            color: #222;
                        }
                        &__par {
                            font-size: 15px;
                            line-height: 1.6;
                            color: #5f6773;
                            letter-spacing: -0.02em;
                        }
                    }
                }
                &__br {
                    @include forClientSectionTablet {
                        display: none;
                    }
                    @include forClientSection {
                        display: none;
                    }
                    @include forClientSectionComp {
                        display: none;
                    }
                }
            }
        }
    }
}

.show-team {
    opacity: 1;
    visibility: visible;
}

.job {
    background: #f6f8fe;
    padding: 35px 0 60px 0;
    @include forClientSectionComp2 {}
    &__container {
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 20px;
        &__upper {
            &__head {
                padding: 0 0 30px;
                font-weight: bold;
                font-size: 36px;
                line-height: 1.3;
                color: #2d3192;
            }
            &__three {
                @include flexbox(center,
                space-between);
                padding: 0 0 30px;
                align-content: stretch;
                &__item {
                    padding: 0 0 10px;
                    width: calc(33.333% - 40px);
                    @include forClientSectionTablet {
                        width: calc(33.333% - 10px);
                        padding: 0 0 30px;
                        text-align: center;
                    }
                    @include forClientSection {
                        width: calc(33.333% - 10px);
                        padding: 0 0 30px;
                        text-align: center;
                    }
                    &__icon {
                        padding: 0 0 10px;
                    }
                    &__cap {
                        padding: 0 0 0;
                        font-weight: bold;
                        font-size: 20px;
                        line-height: 1.6;
                        letter-spacing: 0.01em;
                        color: #222;
                        @include forClientSectionComp {
                            font-size: 18px;
                        }
                        @include forClientSectionTablet {
                            padding: 0 0 10px;
                            font-size: 16px;
                        }
                        @include forClientSection {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        &__bottom {
            @include flexbox(center,
            space-between);
            @include forClientSectionTablet {
                display: block;
            }
            @include forClientSection {
                display: block;
            }
            &__left {
                @include forClientSectionTablet {
                    width: 100%;
                }
                @include forClientSection {
                    width: 100%;
                }
                width: 50%;
                position: relative;
                &__img {
                    width: 100%;
                    display: block;
                    border-radius: 4px;
                }
            }
            &__right {
                width: 55%;
                margin: 0 0 0 -15%;
                padding: 40px 60px;
                color: #fff;
                border-radius: 4px;
                position: relative;
                background: #2d3192;
                // @include flexbox(center);
                @include forClientSectionComp {
                    padding: 30px;
                }
                @include forClientSectionTablet {
                    width: 100%;
                    padding: 20px 20px 25px;
                    margin: 0;
                    border-radius: 0 0 4px 4px;
                }
                @include forClientSection {
                    width: 100%;
                    padding: 20px;
                    margin: 0;
                    border-radius: 0 0 4px 4px;
                }
                &__become {
                    padding: 0 0 32px;
                    font-weight: bold;
                    font-size: 30px;
                    line-height: 1.4;
                    @include forClientSectionTablet {
                        padding: 0 0 20px;
                        font-size: 27px;
                    }
                }
                &__text {
                    padding: 0 0 40px;
                    font-size: 16px;
                    line-height: 1.56;
                    color: #fff;
                    @include forClientSectionTablet {
                        padding: 0 0 20px;
                        font-size: 16px;
                    }
                }
                &__btn {
                    &__link {
                        display: inline-block;
                        height: 56px;
                        padding: 0 90px 0 24px;
                        font-weight: 600;
                        font-size: 15px;
                        line-height: 50px;
                        color: #fff;
                        text-decoration: none;
                        border: 3.5px solid white;
                        border-radius: 15px;
                        text-align: center;
                        transition: 0.4s;
                        background: url("https://www.simbrella.com/site/templates/img/link_orange_icon.svg") no-repeat calc(100% - 24px) 50%;
                    }
                    &__link:hover {
                        border: 3.5px solid #ff931e;
                        transition: 0.4s;
                        background: url("https://www.simbrella.com/site/templates/img/link_orange_icon.svg") calc(100% - 19px) 50%;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
    }
}

// news section start
.news {
    min-height: calc(100vh - 80px);
    padding: 35px 0 80px;
    @include forClientSection {
        min-height: 1px;
        padding: 30px 0 10px;
    }
    &__container {
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 20px;
        &__upper {
            @include flexbox(center,
            space-between);
            align-content: stretch;
            padding: 0 0 40px;
            @include forClientSection {
                flex-wrap: wrap;
            }
            &__head {
                font-weight: bold;
                font-size: 36px;
                line-height: 1.3;
                color: #2d3192;
                @include forClientSection {
                    font-size: 24px;
                }
            }
            &__button {
                &__link {
                    display: inline-block;
                    height: 56px;
                    padding: 0 90px 0 24px;
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 50px;
                    color: rgb(0, 0, 0);
                    text-decoration: none;
                    border: 3.5px solid rgb(210, 210, 210);
                    border-radius: 15px;
                    text-align: center;
                    transition: 0.4s;
                    background: url("https://www.simbrella.com/site/templates/img/link_orange_icon.svg") no-repeat calc(100% - 24px) 50%;
                }
                &__link:hover {
                    border: 3.5px solid #ff931e;
                    transition: 0.4s;
                    background: url("https://www.simbrella.com/site/templates/img/link_orange_icon.svg") calc(100% - 19px) 50%;
                    background-repeat: no-repeat;
                }
            }
        }
        &__bottom {
            @include flexbox(stretch,
            flex-start);
            align-content: stretch;
            @include forClientSectionTablet {
                display: block;
            }
            @include forClientSection {
                display: block;
            }
            #for-card {
                margin: 0;
            }
            .for-zoom {
                text-decoration: none;
            }
            &__card {
                width: calc(33.333% - 20px);
                position: relative;
                margin: 0 0 0 30px;
                @include forClientSectionTablet {
                    width: 100%;
                    padding: 0 0 30px;
                    margin: 0%;
                }
                @include forClientSection {
                    width: 100%;
                    padding: 0 0 30px;
                    margin: 0%;
                }
                &__img {
                    margin: 0 0 24px;
                    font-size: 0;
                    border-radius: 6px;
                    overflow: hidden;
                    position: relative;
                    @include forClientSection {
                        margin: 0 0 15px;
                    }
                    &__pic {
                        display: block;
                        width: 100%;
                        transition: all 0.3s;
                        transform: scale(1);
                    }
                }
                &__text {
                    padding: 0 0 48px;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 1.75;
                    color: #222;
                    @include forClientSection {
                        padding: 0 0 10px;
                        font-size: 16px;
                    }
                }
                &__date {
                    font-size: 18px;
                    line-height: 1.33;
                    color: #5f6773;
                    @include forClientSection {
                        font-size: 14px;
                    }
                }
                &__link {
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 1;
                }
            }
        }
    }
}

.zoom {
    transition: all 0.3s;
    transform: scale(1.05);
}

.white {
    background-color: #f6f8fe;
    color: #3595ee;
    transform: scale(1.05);
    transition: 0.2s;
}

.show-p {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.1s;
    transform: translate(-50%, -50%);
}

.opa-me {
    opacity: 0.5;
}

.opaa {
    display: none;
}

.show-country {
    display: flex;
}